/* Color Palette
#242426
#545458
#338D9B
#9B9B9E
#EDEDF4
#515168 (independance purple grey)
fonts
Main Headings -             font-family: 'Patua One', cursive;
Other Headings and links -  font-family: 'Oswald', sans-serif;
Text -                      font-family: 'Old Standard TT', serif;
*/
.float-clear {
  clear: both;
}

html {
  font-family: Georgia;
  color: #545458;
}

body {
  background-color: #EDEDF4;
}

h1  {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
.personal-info {
  float: left;
  width: 24%;
}

.portrait {
  text-align: center;
  border-radius: 50%;
}

.about-me {
  float: left;
  width: 74%;
}
.name-info {
  margin-top: 10%;
}

.project {
  margin: 5px;
  width: 150px;
  height: 150px;
}

.in-line {
  display: inline;
}

.portfolio-tile {
  float: left;
  box-shadow: 0 4px 8px 0px grey, 0 6px 20px 0 gainsboro;
}
