html {
  font-family: Georgia;
  color: #4e4d5c;
}

body {
  background-color: #a8b9c2;
}

h1  {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.name-info {
  margin-top: 10%;
}
