/* Color Palette
#242426
#545458
#338D9B
#9B9B9E
#EDEDF4
#515168 (independance purple grey)
*/

html {
  font-family: Georgia;
  color: #545458;
}

body {
  background-color: #EDEDF4;
}

h1  {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.name-info {
  margin-top: 10%;
}
